{% extends "base/base_main.html" %}
	{% block body %}
		<div class="container">
			<div class="container bg-light rounded-3">
				<div class="row">
					<h1 class="titulo-noticia text-center">{{ noticia.nombre }}</h1>
					{% if noticia.resumen %}
						<h3><blockquote class="resaltado">{{ noticia.resumen }}</blockquote></h3>
					{% endif %}
				</div>
			</div>
			<br>
			<div class="row">
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
					<div class="carousel-inner">
						{% for a in noticia.solo_fotos %}
							<div class="carousel-item {% if forloop.first %}active{% endif %}">
								<img src="{{a.archivo.url}}" class="d-block w-100" alt="...">
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<br>
			<div class="container bg-light rounded-3">
				{% if noticia.archivos %}
					<div class="row" style="padding:10px;">
						<h4><blockquote class="resaltado">Archivos</blockquote></h4>
						{% for a in noticia.archivos %}
							<a href="{{ a.archivo.url }}">{{ a.archivo.name }}</a>
						{% endfor %}
					</div>
				{% endif %}
				<div class="row">
					<p>{{noticia.contenido|safe}}</p>
				</div>
			</div>
		</div>
	{% endblock body %}

	{% block script %}
		
	{% endblock script %}