<nav id="marca" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">DPU</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% if request.paginas %}
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Paginas De La Unidad
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for p in request.paginas %}
								<li><a class="dropdown-item" target="_blank" href="{{p.url}}"><i class="fas fa-user"></i> {{ p.nombre }}</a></li>
							{% endfor %}
						</ul>
					</li>
					
				{% endif %}
				{% if request.departamentos %}
					{% for dep in request.departamentos %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{dep.nombre}}
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								{% for tip in dep.tipo_set.all %}
									<li><a class="dropdown-item" href="{% url 'noticias:list_filtro_publicacion' tip.id %}"><i class="fas fa-user"></i> {{ tip.tipo }}</a></li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{% url 'noticias:nosotros' %}">Nosotros</a>
				</li>
				{% if request.user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Administración
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{% url 'noticias:create_departamento' %}">Crear Departamento</a></li>
							<li><a class="dropdown-item" href="{% url 'noticias:list_departamento' %}">Lista de Departamentos</a></li>
							<li><a class="dropdown-item" href="{% url 'noticias:create_publicacion' %}"><i class="fas fa-user"></i> Crear Noticia</a></li>
							<li><a class="dropdown-item" href="{% url 'noticias:list_publicacion' %}">Lista de Publicaciones</a></li>
							<li><a class="dropdown-item" href="{% url 'noticias:create_pagina' %}">Crear Pagina</a></li>
							<li><a class="dropdown-item" href="{% url 'noticias:list_paginas' %}">Lista de Paginas</a></li>
							<li><a class="dropdown-item" href="{% url 'noticias:create_tipo' %}">Crear Tipo</a></li>
							<li><a class="dropdown-item" href="{% url 'noticias:list_tipo' %}">Lista de Tipos</a></li>

							<li><a class="dropdown-item" href="{% url 'noticias:create_autoridaes' %}">Crear Autoridad</a></li>
							<li><a class="dropdown-item" href="{% url 'noticias:list_autoridades' %}">Lista de Autoridades</a></li>
						</ul>
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form action="{% url 'noticias:search' %}" method="GET" class="d-flex ms-auto">
				<input class="form-control me-2" type="search" id="search-form" name='search' placeholder="Buscar..." aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Buscar</button>
			</form>
			{% if request.user.is_authenticated %}
				
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-cog"></i> Opciones
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
						</ul>
					</li>
				</ul>
				
			{% endif %}
		</div>
	</div>
</nav>
<nav class="navbar navbar-dark bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Planificación</a>
	</div>
</nav>
<script>
	document.getElementById("marca").addEventListener("click", function( event ) {
		// presentar la cuenta de clicks realizados sobre el elemento con id "prueba"
		console.log("Conteo de Clicks: " + event.detail);
		if(event.detail == 10)
			window.location.href = "{% url 'users:login' %}";
	}, false);

	have_search = new URLSearchParams(window.location.search);
	if(have_search.get("search")){
		document.getElementById("search-form").value = have_search.get("search");
	}
	console.log(have_search.get("search"));
</script>
