{% extends "base/base_form.html" %}
{% load crispy_forms_tags %}
	{% block name %}
		<h2 class="text-center">Archivo</h2>
	{% endblock name %}

	{% block bodyform %}
		<form action="" method="post" class="form" enctype="multipart/form-data">
			
			{% csrf_token %}
			{% crispy formset helper %}

			<div class="d-flex justify-content-center">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button name="add" class="btn btn-primary">Guardar y Añadir Otro</button>
		    		<button type="submit" class="btn btn-primary">Enviar</button>
		    	</div>
			</div>
		</form>
	{% endblock bodyform %}
