{% extends "base/base_list.html" %}
{% load crispy_forms_tags %}
	{% block name %}
		<h2 class="text-center">Resultados</h2>
	{% endblock name %}

	{% block bodylist %}
		{% for p in object_list %}		
			<div class="card" style="width: 100%;">
				<img class="img-search" src="{{ p.archivo_set.all.0.archivo.url }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{ p.nombre }}</h5>
					<p class="card-text">{{ p.resumen }}</p>

					<div>
						<p>
						<b>Tipo:</b>
						{% for tipo in p.tipo.all %}
							<span class="badge bg-primary">{{ tipo.tipo }}</span>
						{% endfor %}
						</p>
					</div>
					<a href="{% url 'noticias:publicacion' p.pk %}" class="btn btn-primary">Ir a la noticia</a>
				</div>
			</div>
			<br>
		{% endfor %}
	{% endblock bodylist %}
